<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd"
    profile="development">

    <bean id="dbbeans" class="com.java.beans.DBBean">
		<property name="driverClass" value="com.mysql.cj.jdbc.MysqlDataSource"/>
		<property name="driverUrl" value="jdbc:mysql://localhost:3306/v1_schema"/>
		<property name="userName" value="root"/>
		<property name="password" value="root"/>
		
    </bean>

</beans>