<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">


    <bean id="student" class="com.java.beans.Student">
    	<constructor-arg value="S-111"/>
    	<constructor-arg value="xyz"/>
    	<constructor-arg value="APAC"/>
    	<property name="sid" value="E-111"/>
    	<property name="sName" value="XYZ"/>
    	<property name="saddr" value="EPAC"/>
    </bean>


</beans>