<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xsi:schemaLocation="http://www.springframework.org/schema/beans 
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="nter" class="com.java.beans.I18nBean">
		<property name="messageSource" ref="resourceBundleMessageSource"/>
	</bean>
	<bean id="resourceBundleMessageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
		<property name="basename" value="/com/java/resources/abc"/>
	</bean>

</beans>